.singlePost{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singlePostWrapper{
    margin-right:11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}

.singlePostImg{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
}

.singlePostTitle{
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;
    margin: 10px;
    font-size: 30pt;
}

.profilepicture{
    border: 1px solid black;
    border-radius: 50%;
    height:40px;
    width:40px
}

.singlepostAuthor{
    margin-right:10px;
    font-weight:600;
    font-size: 12pt;
}

.singlePostDesc{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
}

.singlePostEdit{
    display: flex;
   justify-content: flex-end;
}

.singlePostIcon{
    margin-top: 10px;
    cursor: pointer;
    float: right;
    font-size: 22px;
    padding: 5px;
    color: #FF7396;
  }

/* MEDIA QUERIES TABLET*/

  @media screen and (min-width: 600px) and (max-width: 1000px) {
    
    .singlePostTitle{
        font-size: 40pt;
    } 
    .singlepostAuthor{
        font-size: 18pt;
    }
    .singlePostDesc{
        font-size: 16pt;
    }
    .singlePostIcon{
        font-size: 32px;
      }
}

/* MEDIA QUERIES DESKTOP*/

@media screen and (min-width: 1000px){
 
    .singlePostTitle{
        font-size: 35pt;
    }

    .singlepostAuthor{
        font-size: 20pt;
    }

    .singlePostDesc{
        font-size: 15pt;
        inline-size: 500px;
        text-align: justify; 
    }
   
    .singleRow{   
        margin-right: 20px;
        margin-top: 20px;
    }
}

