.single{
    display: flex;
    background-color: #C499BA;
    flex-direction: column;
    color: #342929;
    border-radius: 5px;
    padding: 5px;
}
.link{
    text-decoration: none;
}

.homeButton{
   
    background-color: transparent;
    border-radius: 20px;
    border-style: none;
    border-color: #F6D186;
    box-sizing: border-box;
    color: #470b78;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    letter-spacing: 2.4px;
    width: 50%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}
/* 
@media screen and (min-width: 801px){
    .single{
        background-color: transparent;
        color:#E0F5B9;
    }
    } */