

.titleBox{
  display:flex;
  flex-direction: column;
}


.Register{
  display: flex;
  flex-direction: column;
}

.RegisterTitle{
  font-size: 54pt;
  color: #C6F1D6;
  margin-bottom: -40px;
  margin-top: -20px;
}
.invalid{
color:red
}
.valid{
color:green
}
.registerBox{ 
  background-color: #C6F1D6;
  opacity: 0.85;
  margin-top: 16px;
  padding: 20px;
  min-width: 280px;
  max-width: 60%;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 20px;
}

.RegisterForm{
  display: flex;
  flex-direction: column;
}

.buttonBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  width: 240px;
}

  .registerButton, .registerLoginButton {
    font-family: 'Jost', sans-seri;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    appearance: none;
    background-color: #FF8080;
    border-radius: 20px;
    border-style: none;
    border-color: #F6D186;
    box-sizing: border-box;
    color: #342B38;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    letter-spacing: 2.4px;
    width: 50%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }


  .registerButton:hover {
    background: #FFBA92;
  }

  .registerLoginButton:hover {
    background: #FFBA92;
  }

  /*INPUT */

  .inputDiv {
    display: flex;
    flex-direction: column;
    padding:10px;
  }

  .userName{
    font-size: 14pt;
    color: #FF8080;
  }

  .registerInput{
    border: none;
  background-color: transparent;
  color: #F19292;
  font-family: 'Jost', sans-seri;
  font-size: 16pt;
  height: 30px;
  width: 250px;
  padding: 2px;
  }

  .registerInput::placeholder{
    color:#342B38;
  }

  .errorMessage{
    font-size: 10pt;
    padding:-2px;
  }

span{
padding:10px;
}

  /*Media queries*/

  @media screen and (min-width: 600px) and (max-width: 1023) {
      body{
          margin: 70px;
      }
      .RegisterTitle{
        font-size: 70pt;
        margin-bottom: -25px;
        margin-top: -30px;
      }
      .registerBox {
        max-width: 75%;
      }
      .registerButton, .registerLoginButton {
       max-width: 50%;      
      }
      .buttonBox {
        text-align: left;
        width: 500px;
    }
  }

  @media screen and (min-width: 1024px){
    .Register {
      flex-direction: row;
      align-items: flex-start;
      width:fit-content;
  }

    .RegisterTitle{
      font-size: 110pt;
    }
    .registerBox {
      background: none;
      width: 300px;
      padding: 30px;
  }
.userName{
  font-size: 24pt;
  font-weight:700;
  color:#C6F1D6;
}
.registerInput {
  color: #F19292;
  font-size: 24pt;
  height: 30px;
  width:fit-content;
}
.registerInput::placeholder{
  color:#FFBA92;
}
 
  }