.topBar{
  display: flex;
  flex-direction: row;
  min-width:375px;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 80px;
  background-color:#C499BA;
  color:#C6F1D6;
}

.topLeft{
  flex: 3 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 15px;
  margin-left: 30px;
}

.logout{
  width: 75px;
  height: 30px;
  font-size: 10pt;
}

.topList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -5px;
  padding: 15px;
  list-style: none;
}

 .topCenter {
  flex: 3;
}

.topRight {
  flex: 3;
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px; 
}

.topListItem {
  margin-right: 20px;
  font-size: 12pt;
  font-weight: 500;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.profileName{
  font-size: 12pt;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 9px;
}

.userInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}


/*  




 













.menu-btn{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:80px;
  height:80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3 px solid red;
}




 */
/* 
.menu-btn_burger{
  width:50px;
  height:6px;
  background:blue;
  border-radius:5px;
  box-shadow: 0 2px 5px pink;
  transition: all .5s ease-in-out; 
}

.menu-btn_burger::before,
.menu-btn_burger::after{
content: ' ';
position:absolute;
width:50px;
  height:6px;
  background:blue;
  border-radius:5px;
  box-shadow: 0 2px 5px pink;
  transition: all .5s ease-in-out; 
}
/* 
.menu-btn_burger::before{
  transform: translateY(-16px);  
}

.menu-btn_burger::after{
  transform: translateY(16px);  
}
 */



/* 










 */

 