.topBar{
  display: flex;
  flex-direction: row;
  min-width:375px;
  top: 0;
  width: 100%;
  min-height: 120px;
  background-color:#C499BA;
  color:#C6F1D6;
}

.topLeft{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 15px;
}

.topRight {
  flex: 1;
 display: flex;
 flex-direction: row;
 margin-top: -10px;
 justify-content: flex-end;
}

.fa-home, .fa-pen-to-square{
  border-radius: 50%;
  padding: 6px;
  color: #F4E06D;
  font-size: 18pt;
}

.topList {
  display: flex;
  margin: 10px;
  margin-top: -10px;
  padding: 15px;
}

.topListItem {
  margin-right: 20px;
  font-size: 12pt;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.link{
  text-decoration: none;
}

.profileName{ 
  font-size: 15pt;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 9px;
}

.userInfo{
  display: flex;
  align-items: center;
}

.logout{
  width: 75px;
  height: 30px;
  font-size: 10pt;
  margin: 10px;
}

 















  

 