/*UPDATE USER DETAILS*/

.settings{
    margin: 20px;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingsTitle{
    color:#FFFFDE;
    text-align: center;
    font-weight: 500;
    font-size: 22pt;
    margin-bottom: 10px;
}

.settingsForm{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #FFFFDE;
    border-radius: 15px;
    margin-top: 20px;
}

.settingsPP{
    margin:12px;
}

.settingsLabel{
    margin-bottom: 5px;
    margin-top: 5px;
    color: #3a3134;
    font-size: 14pt;
    font-weight: 500;
    margin: 10px;
}

.settingsSubmitButton{
    width: 120px;
    margin-top: 25px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .settings {
        background-color: transparent;
    }
    .settingsTitle{
        font-weight: 700;
        font-size: 30pt;
        margin-bottom: 15px;
    }
    .settingsLabel {
        font-size: 18pt;
        font-weight: 500;
    }
    .profilePic{
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 1024px){
    .settings {
        background-color: transparent;
    }
    .settingsTitle{
        font-size: 40pt;
    }
    .settingsLabel {
        font-size: 20pt;
        margin:10px
    }
}

/*UPDATE PROFILE PICTURE*/

.settingsWrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilePic{
    height: 150px;
    width: 150px;
    background-color: #F4E06D;
    border: solid #FF7396;
    border-radius: 10px;
}
.userprofile{
    height:30px;
    width: 30px;
    border-radius: 50%;
}