
.home, .cat{
    display: flex;
    background-color:#FFFFDE;
}

.cat{
flex-direction: row;
}

.contacts,.aboutus,.fa-brands, .fab {
    color: #F4E06D;
    border:none;
    font-size: 12pt;
    text-align: center;
    margin:2px;
}

.fa-brands, .fab{
    font-size: 16pt;
    padding: 5px; 
}

  .contacts{
    text-align: center;
    margin:10px;
  } 
  