.header {
    display: flex;
    position: sticky;
    flex-direction: column;
    background-color: #F4E06D;
    color: #FFFFDE;
    max-height: 85px;
    text-align: center;
}

/*TITLE*/

.headerTitles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 

.headerTitleLg{
    margin-top: -30px;
    font-size: 34pt;
    text-shadow: -5px -2px #f4e06d;
    font-family: 'Righteous', cursive;;
}

.headerTitleSm{
    margin-top: -52px;
    font-size: 14pt;
    font-style: ITALIC;
    color: #FF7396;
}

.headerimage{
    height:50px;
    width:50px;
}

/*MEDIA QUIRIES -TABLET*/

@media screen and (min-width: 600px) and (max-width: 1023px) {
.headerTitleLg {
    margin-top: -44px;
    font-size: 50pt;
}
.headerTitleSm {
    margin-top: -76px;
    font-size: 18pt;
}
}

/*MEDIA QUIRIES -DESKTOP*/


@media screen and (min-width: 1024px){
    .headerTitleLg {
 letter-spacing: 3px;
        margin-top: -50px;
        font-size: 60pt;
        text-align: center;
    }

    .headerTitleSm {
        margin-top: -95px;
        font-size: 22pt;
        margin-bottom: 63px;
    }

    .headerimage{
        height:80px;
        width:80px;
    z-index: 2;
    }
}




