/* .header{
    display: flex;
    flex-direction: row;
    background-color: #C6F1D6;
    color: #FF8080;
    max-height: 90px;
}

.headerTitles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */





/* 



.headerTitleSm{
    margin-top: -40px;
    font-size: 24pt;
    
}



.headerImage {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;

} */