.header{
    display: flex;
    flex-direction: column;
    background-color: #F4E06D;
    color: #FFFFDE;
    max-height: 70px;
    text-align: center;
}

.headerTitles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 

.headerTitleLg{
    margin-top: 5px;
    font-size: 22pt;

}


.headerTitleSm{
    margin-top: -35px;
    font-size: 12pt;
}



.headerImage {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;

}