.sidebar {
    flex:9;
align-items: center;
    display: flex;
    flex-direction: column;
    background-color:#FFFFDE;
    font-style: italic;
    padding: 10px;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.link{
    text-decoration: none;
}
.cat_name{
    margin:10px;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #C6F1D6;
    color:#0b0b0b;
    font-family: 'Jost', sans-serif;
    font-size: 18px;

    line-height: 20px;
    text-align: left;
}

.sidebarItem > img{
    margin-top: 15px;
}

.sidebarItem > p{
    padding:30px;
    margin: 30px;
}

.sidebarList {
    display: flex;
    margin-bottom: 30px;
    align-content: center;
    margin: 10px;
    flex-wrap: wrap;
}