.footer{
    height:120px;
    width:100%;
    background-color: #C499BA;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:0;
    color:rgb(244, 224, 109)
}

.bottomRight{
    flex:1;
}

.footerTitle{
    font-family: 'Righteous', cursive;
    color: rgb(244, 224, 109);
    text-shadow: -15px -15px rgb(244 224 109 / 30%);
    font-size: 20pt;
    margin: 35px;
}


.bottomLeft{
    flex:6;
    display: flex;
    flex-direction: column;
}

h4 {
    margin-top: 15px;
    margin-bottom: 0px;
}

h4, .nameDetails{
    margin-left:30px;
}