textarea{
    color:#FF7396;
}

.backButton{
    margin:10px;
}

.write{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: #FFFFDE;
    border: solid #e7d887;
    margin: 3%;
    padding: 15px;
    border-radius: 5px;
}

.writeImge{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid #FF7396;
    border-radius: 20px;
    background-color: #ece4b6;
}

.writeIcon {
    font-size: 20pt;
    color: #FF7396;
}

.addPicture {
    margin-top: 12px;
    width: 120px;
    height: 45px;
    font-size: 12pt;
    line-height: 1.1;
}

.detailsInput{
    margin-top: 10px;
    font-size: 18pt;
    color:#FF7396;
}   

.writeInput{
    font-size: 14pt;
    margin-bottom: 5px;
}

.writeFormGroup{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chooseFile{
    text-decoration: none;
    padding: 10px;
}

.writeText{
    width: 280px;
    height: 75px;
}

.user{
    color:#FF7396;
    font-size: 16pt;
}
.link{
    text-decoration: none;
}

/*MEDIA QUERIES - TABLET*/

@media screen and (min-width: 600px) and (max-width: 1023px){
    .backButton {
        margin: 30px;
    }
    .writeImge {
        height: 250px;
        width: 250px;
        margin: 10px;
        border: solid #FF7396;
        border-radius: 20px;
        background-color: #FFFFDE;
    }
.writeForm{        
        background-color: #FFFFDE;
        padding: 25px;
        margin: 10px;
        border-radius: 20px;
        }
.write {
    flex-direction: row;
    padding: 15px;
    border-radius: 5px;
    align-items: flex-start;
    background: none;
    border: none;
}
}

/*MEDIA QUERIES - DESKTOP*/

@media screen and (min-width: 1024px){
 
    .backButton {
        margin: 40px;
    }
    .writeImge {
        height: 300px;
        width: 300px;
        margin: 10px;
        border: solid #FF7396;
        border-radius: 20px;
        background-color: #FFFFDE;
    }
.writeForm{
        background-color: #FFFFDE;
        padding: 25px;
        margin: 10px;
        border-radius: 20px;
        width: 475px;
        }
.write {
    flex-direction: row;
    padding: 30px;
    border-radius: 5px;
    align-items: flex-start;
    background: none;
    border: none;
}
.writeIcon {
    font-size: 30pt;
    color: #e0b5c0;
}
.writeText {
    width: 98%;
    height: 100px;
}
}        